<!DOCTYPE html>
<html lang="en">
<head> 
    <link rel="shortcut icon" type="image/jpg" href="favicon.ico"/>
    <meta charset="UTF-8">S
    <meta http.equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0">
    <title>Clothing Inventory</title>

     <!-- Materialize CSS and Icons-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     
    
</head>
<body>
    <div class = "container">
        <link rel="shortcut icon" type="image/jpg" href="Favicon_Image_Location"/>
        <h1>Welcome!</h1>
        <img src="/images/clothing rack.jpg">
        <h2>Let's keep track of your clothes together! </h2>
        <a class="btn" href="/clothes"><i class="material-icons right">arrow_forward</i>Get started!</a>
    </div>
    
</body>
</html>